{% extends 'base.html' %}
{% load static %}

{% block page_header %}
	<div class="container header-container">
		<div class="row">
			<div class="col"></div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<!-- Page Header -->
	<div class="overlay bg-blue"></div>
	<div class="container bg-white text-blue mb-2">
		<div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font pt-5 pb-5">Wishlist</h2>
                <hr class="mt-0 pb-3">
            </div>
        </div>
	<!-- User WishList Items -->
	{% for product in wishlist.products.all %}

		<div class="row">
			<!-- Product Image -->
			<div class="col-12 col-md-6">
				<div class="image-container mt-5">
					{% if product.image %}
						<a href="{% url 'product_detail' product.id %}">
							<img class="card-img-top" src="{{ product.image.url }}" alt=" {{ product.name }}">
						</a>
					{% else %}
						<a href="{% url 'product_detail' product.id %}">
							<img class="card-img-top" src="{{ MEDIA_URL }}noimage.png " alt=" {{ product.name }}">
						</a>
					{% endif %}
				</div>
			</div>
			<!-- Product Details -->
			<div class="col-12 col-md-6">
				<div class="products-detail-container my-5">
					<h3 class="mb-4 pt-md-5 text-black font-weight-bold"> {{ product.name }}</h3>
					<h4 class="text-black lead mb-2 text-left font-weight-bold">£{{ product.price }}</h4>
					{% if product.category %}
					<p class="small">
						<a class="category-badge text-decoration-none"
							href="{% url 'products' %}?category={{ product.category.name }}"><span  class="p-2 mt-2 badge rounded-pill border">
							<i class="fas fa-hashtag"></i> {{ product.category.friendly_name }}
						</span>
						</a>
					</p>
					{% endif %}
				</div>
				<!-- Action Buttons -->
				<div class="text-center">
					<a class="primary-button btn rounded-pill" href="{% url 'product_detail' product.id %}">
						<span class="text-uppercase font-weight-bold">Product Details</span>
					</a>
					<a class="secondary-button btn rounded-pill float-left" href="{% url 'remove_from_wishlist' product.id %}">
						<span class="text-uppercase font-weight-bold">Remove from wishlist</span>
					</a>
				</div>
			</div>
		</div>		
		
	{% empty %}
	<!-- Empty Wishlist -->
	<p class="lead mb-5 text-center">Your wishlist is empty.</p>
	<div class="text-center pb-5">
	<a href="{% url 'products' %}" class="primary-button btn rounded-pill">
		<span class="icon">
			<i class="fas fa-chevron-left"></i>
		</span>
		<span class="text-uppercase">Keep Shopping</span>
	</a></div>
	{% endfor %}	
	</div>
	<!-- Back To Top Button -->
    <div class="btt-button shadow-sm rounded-0 bg-yellow">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Back To Top Button
		$('.btt-link').click(function(e) {
			window.scrollTo({top: 0, behavior: 'smooth'});
		})
	</script>

{% endblock %}