/*----------------------------- Colors ---------------------------------*/

:root {
    --Blue: #003049;
    --White: #eae2b7;
    --Red: #d62828;
    --Orange: #f77f00;
    --Yellow: #fcbf49;
}

/*-- Text Colors --*/

.text-white {
    color: var(--White) !important;
}

.text-yellow {
    color: var(--Yellow) !important;
}

.text-black {
    color: #000 !important;
}

.text-blue {
    color: var(--Blue) !important;
}

.text-red {
    color: var(--Red) !important;
}

/*-- Background Colors --*/

.bg-white {
    background-color: var(--White) !important;
}

.bg-blue {
    background-color: var(--Blue) !important;
}

.bg-yellow {
    background-color: var(--Yellow);
}

.bg-red {
    background-color: var(--Red) !important;
}

.bg-black {
    background: #000 !important;
}

/*-- Border Colors --*/

.border-black {
    border: 1px solid black !important;
}


/*----------------------------- General ---------------------------------*/

.center-align {
    text-align: center;
}

html {
    height: 100%;
}

body {

    font-family: "Roboto", sans-serif;
}

.bg-img {
    background: url('/media/5472x2624px-b.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(110vh - 164px);
    background-position: 0px 35px;
}

header {
    background-color: var(--Blue);
    color: #fafafa;
}

.milonga {
    font-family: "Milonga", sans-serif;
}

#topnav h2 {
    text-align: center;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}



/*------------------------------- Buttons ---------------------------------------*/

.primary-button {
    text-transform: uppercase;
    background: var(--Yellow);
    color: var(--Blue);
    min-width: 260px;
    font-weight: 800;
    transition: all 0.35s ease-in-out;
}

.secondary-button {
    text-transform: uppercase;
    background: var(--Blue);
    color: var(--White);
    min-width: 260px;
    font-weight: 800;
    border: 1px solid var(--White);
    transition: all 0.35s ease-in-out;
}

.delete-button {
    text-transform: uppercase;
    background: var(--Red);
    color: var(--White);
    min-width: 260px;
    font-weight: 800;
    transition: all 0.35s ease-in-out;
}

.btn-search {
    background: var(--Yellow);
    color: var(--Blue);
    transition: all 0.35s ease-in-out;
}

.primary-button:hover,
.primary-button:active,
.primary-button:focus,
.secondary-button:hover,
.secondary-button:active,
.secondary-button:focus,
.btn-search:hover,
.btn-search:active,
.btn-search:focus {
    border-color: var(--Red) !important;
    background: var(--Red) !important;
    color: var(--White) !important;
    transition: all 0.35s ease-in-out;
}

a.category-badge>span.badge {
    background: var(--Blue) !important;
    color: var(--White) !important;
    transition: all 0.35s ease-in-out;
}

a.category-badge>span.badge:hover {
    background: var(--Red) !important;
    color: var(--White) !important;
    transition: all 0.35s ease-in-out;
}

/*-- Back To Top Button --*/

.btt-button:hover,
.btt-button:active,
.btt-button:focus {
    background: var(--Red) !important;
    color: var(--White) !important;
    transition: all 0.35s ease-in-out;
}

.btt-link,
.update-link,
.remove-item {
    color: var(--Blue);
    cursor: pointer;
    transition: all 0.35s ease-in-out;
}

.btn-file {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}


/*--------------------------------------------------------------------------------------*/


.fa-lg {
    color: var(--Yellow);
}

.fa-lg:hover,
.fa-lg:active,
.fa-lg:focus {
    color: var(--Red);
}





.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--White);
    z-index: -1;
}

.product:hover {
    background-color: var(--Blue);
}





input[name='q']::placeholder {
    color: var(--Blue);
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.card-img-top-products {
    width: 100%;
    height: 14vw;
    object-fit: cover;
}

.card-body {
    height: 4vw;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-footer {
    height: 6vw;
}

/* ----------------------- Contact ---------------------------- */


.connect-section {
    padding-top: 5%;
    padding-bottom: 10%;
    max-width: 80%;
}

.connect-h {
    text-align: center;
    padding-bottom: 20px;
}

.block-connect-img {
    max-width: 90%;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}


/* Convenience classes - colors copied from Bootstrap */


.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}


.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* --------------------------------------------------- */
/*                       FOOTER                        */
/* --------------------------------------------------- */

footer {
    background-color: var(--Blue);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: var(--White);
    border-top: 2px solid var(--White);
}

.footer-h {
    color: var(--White);
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.footer-p {
    color: var(--White);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* --- FOOTER LINKS --- */
.footer a {
    color: var(--White);
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block
}

.footer-links a {
    color: var(--White);
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: var(--Yellow);
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

/* --- SOCIAL MEDIA LINKS --- */
.footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: var(--White)
}

.footer .social-icons {
    text-align: right
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons a {
    background-color: var(--White);
    color: var(--Blue);
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: var(--White);
    background-color: var(--Red);
}

@media only screen and (min-width: 767px) {
    .social-icons {
        padding-left: 0px;
    }
}

@media only screen and (min-width: 992px) {
    .social-icons {
        padding-left: 2rem;
    }
}

/* COPYRIGHT TEXT */
.copyright-text {
    color: var(--Light);
}

#link-external {
    text-decoration: underline;
    color: var(--Light);
}

#link-external:hover {
    text-decoration: underline;
    color: var(--Accent);
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}