<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All Products Dropdown Menu -->
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold milonga nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                FLAVORS FROM HOME
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-yellow mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- Pastries Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-yellow mr-5" href="#" id="pastries-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pastries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pastries-link">
                <a href="{% url 'products' %}?category=alfajores" class="dropdown-item">Alfajores</a>
                <a href="{% url 'products' %}?category=snacks" class="dropdown-item">Snacks</a>
                <a href="{% url 'products' %}?category=alfajores,snacks" class="dropdown-item">All Pastries</a>
            </div>
        </li>
        <!-- Spirits & Wines Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-yellow mr-5" href="#" id="spirits&wines-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Spirits & Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="spirits&wines-link">
                <a href="{% url 'products' %}?category=spirits" class="dropdown-item">Bitters and liquors</a>
                <a href="{% url 'products' %}?category=wines" class="dropdown-item">Wines</a>
                <a href="{% url 'products' %}?category=spirits,wines" class="dropdown-item">All Spirits</a>
            </div>
        </li>
        <!-- Sweets Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-yellow mr-5" href="#" id="sweets-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sweets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sweets-link">
                <a href="{% url 'products' %}?category=dulce_de_leche" class="dropdown-item">Dulce de Leche</a>
                <a href="{% url 'products' %}?category=fruit_jelly" class="dropdown-item">Sweet Potato Jelly</a>
                <a href="{% url 'products' %}?category=dulce_de_leche,fruit_jelly" class="dropdown-item">All Sweets</a>
            </div>
        </li>
        <!-- Mate Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-yellow" href="#" id="mate-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Mate
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mate-link">
                <a href="{% url 'products' %}?category=mate" class="dropdown-item">Yerba Mate</a>
                <a href="{% url 'products' %}?category=gourds_straws" class="dropdown-item">Gourds and straws</a>
                <a href="{% url 'products' %}?category=mate,gourds_straws" class="dropdown-item">All Mate Products</a>
            </div>
        </li>

    </ul>
</div>