<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="pastries-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pastries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pastries-link">
                <a href="" class="dropdown-item">Alfajores</a>
                <a href="" class="dropdown-item">Snacks</a>
                <a href="" class="dropdown-item">Cookies</a>
                <a href="" class="dropdown-item">Conitos</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="spirits&wines-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Spirits & Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="spirits&wines-link">
                <a href="" class="dropdown-item">Bitters and liquors</a>
                <a href="" class="dropdown-item">Wines</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sweets-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sweets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pastries-link">
                <a href="" class="dropdown-item">Dulce de Leche</a>
                <a href="" class="dropdown-item">Sweet Potato Jelly</a>
                <a href="" class="dropdown-item">Quince Jelly</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="mate-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Mate
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Yerba Mate</a>
                <a href="" class="dropdown-item">Gourds and straws</a>
                <a href="" class="dropdown-item">Mate Kits</a>
            </div>
        </li>

    </ul>
</div>