{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<h2 class="logo-font mb-4 mt-4 mt-lg-5">{% trans "Set Password" %}</h2>
    <hr>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="mb-3 secondary-button btn rounded-pill" href="{% url 'account_login' %}">Back to Login</a>
        <input class="mb-3 primary-button btn rounded-pill" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}