{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Home Banner -->
    <div class="bg-img">
    <div class="container h-100">
        <div class="row h-100 pt-5">
            <div class="col-7 col-md-6 my-auto pl-5 text-left">
				<h6 class="logo-font text-white font-weight-bold">Woops,<br/> seems like you have found an</h6>
                <h1 class="display-4 milonga logo-font text-center-align text-white font-weight-bold">
                    ERROR 404</span>  <br>
                </h1>
                <div class="my-5 pl-5">
                    <h4>
                        <a href="{% url 'products' %}" class="primary-button btn btn-lg rounded-pill py-3">Get back to the shop!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}