{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay bg-blue"></div>
<div class="container bg-white text-blue">
    <!-- Page Header -->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font pt-5">Product Management</h2>
            <h5 class="text-muted pb-4">Add a Product</h5>
        </div>
    </div>
    <!-- Add Product Form -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-8">
            <hr class="mt-0 pb-3">
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' or 'image_2' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <!-- Action Buttons -->
                <div class="text-center pb-3">
                    <a class="secondary-button btn rounded-pill" href="{% url 'products' %}">Cancel</a>
                    <button class="primary-button btn rounded-pill" type="submit">Add Product</button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}