{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Product Detail Page -->
<div class="overlay bg-white"></div>
<div class="container bg-blue text-white mt-2">

    <div class="row pt-5">
        <div class="col-xs-none col-md-2"></div>
        <div class="col-12 col-md-4 col-lg-4">
            <!-- Product Image -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid d-block w-100" src="{{ product.image.url }}"
                                alt=" {{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid d-block w-100" src="{{ MEDIA_URL }}no-image.jpg"
                                alt=" {{ product.name }}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="carousel-item">
                        {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid d-block w-100" src="{{ product.image_2.url }}"
                                alt=" {{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid d-block w-100" src="{{ MEDIA_URL }}no-image.jpg"
                                alt=" {{ product.name }}">
                        </a>
                        {% endif %}
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!-- Product Details -->
        <div class="col-12 col-md-4 col-lg-4 bg-blue text-white">
            <div class="product-details-container my-4">
                <h1 class="mb-1 pt-md-5 font-weight-bold"> {{ product.name }}</h1>
                {% if product.get_avg_rating %}
                    <div class="pb-5">{% include "products/star-ratings.html" %}</div>
                {% else %}
                    <div class="pb-5 pl-2"><strong class="text-warning">No Rating</strong></div>
                {% endif %}
                <h2 class="lead mb-2 text-left font-weight-bold">€{{ product.price }}</h2>
                {% if product.category %}
                <p class="small">
                    <a class="category-badge text-decoration-none"
                        href="{% url 'products' %}?category={{ product.category.name }}">
                        <span class="p-2 mt-2 badge text-blue rounded-pill border"><i class="fas fa-hashtag"></i>
                            {{ product.category.friendly_name }}</span>
                    </a>
                </p>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-none col-md-2"></div>
    </div>

    <div class="row">
        <!-- Product Description -->
        <div class="col-xs-none col-md-2"></div>
        <div class="col-12 col-md-4">
            <div class="products-description-container text-center">
                <h2 class="text-white font-weight-bold  mt-5">About this product</h2>
                <p class="text-white mt-2 mt-5">{{ product.description }}</p>
                <hr>
                <p class="text-white mt-2 mt-5">{{ product.brand }}</p>
            </div>
        </div>
        <!-- Quantity Selection -->
        <div class="col-12 col-md-4">
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12 text-center">
                        <p class="mt-3 center text-white"><strong>Quantity:</strong></p>
                        <div class="form-group">
                            <div class="input-group text-center">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn-sm btn bg-yellow text-blue"
                                        data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1"
                                    max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn-sm btn bg-yellow text-blue"
                                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Action Buttons -->
                    <div class="col-12 text-center">

                        <input class="product-button bg-blue text-white border btn rounded-pill text-uppercase mt-3"
                            type="submit" value="Add to Bag">

                        <a class="product-button bg-yellow text-blue btn rounded-pill text-uppercase mt-3"
                            href="{% url 'add_to_wishlist' product.id %}">
                            <span>Save to wishlist</span>
                            <span class="icon">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>

                        <a class="product-button bg-blue text-white btn rounded-pill text-uppercase border mt-3"
                            href="{% url 'products' %}">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>Keep Shopping</span>
                        </a>

                        <!-- Admin Edit/Delete Buttons -->
                        {% if request.user.is_superuser %}
                        <a class="product-button bg-blue text-white btn rounded-pill text-uppercase border mt-3"
                            href="{% url 'edit_product' product.id %}">Edit</a>
                        <button type="button"
                            class="product-button bg-blue text-white btn rounded-pill text-uppercase border mt-3"
                            data-toggle="modal" data-target="#exampleModal">
                            Delete
                        </button>
                        {% endif %}

                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
        <div class="col-xs-none col-md-2"></div>
    </div>

    <!-- Product Reviews-->
    <div class="row mt-3">
        <div class="col-xs-none col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <div class="container-fluid">
                <div id="reviews">
                    <div class="row pb-0">
                        <div class="col-xs-none col-md-2"></div>
                        <div class="col-sm-12 col-md-4 text-center">
                            <p class="mt-5">Read the reviews for this product from users below:</p>
                        </div>
                        <div class="col-sm-12 col-md-4 text-right">
                            <a class=" mt-5 product-button bg-blue text-white btn rounded-pill text-uppercase border"
                                href="{% url 'add_review' product.id %}">Add
                                Review</a>
                        </div>
                        <div class="col-xs-none col-md-1"></div>
                        <div class="col-xs-none col-md-2"></div>
                    </div>
                    {% for review in reviews %}
                    <br>
                    <h6 class="text-center text-white text-uppercase pb-2">{{ review.title }}<small> by
                            {{ review.user_profile.user }}</small></h6>
                    <table class="table text-white text-center table-bordered">
                        <thead>
                            <tr>
                                <th class="bg-white text-blue" scope="col">Rating</th>
                                <th class="bg-white text-blue" scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="stars bg-blue" style="--rating: {{ review.user_rating }};"
                                        aria-label="Rating of this product is {{ review.user_rating }} out of 5.">
                                    </div>
                                </td>
                                <td>{{ review.created|date:'d-m-yy' }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ review.comment|linebreaks }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xs-none col-md-2"></div>
    </div>

</div>

</div>
<!-- Delete Product Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p class="font-weight-bold text-uppercase">
                    Are you sure you want to delete this item ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="{% url 'delete_product' product.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>
<!-- Back To Top Button -->
<div class="btt-button shadow-sm rounded-0 mt-4 bg-yellow">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>

    // Product Image Carousel
    $('.carousel').carousel()

    // Back To Top Button
    $('.btt-link').click(function(e) {
        window.scrollTo({top: 0, behavior: 'smooth'});
		})
        
</script>
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}