<div class="toast custom-toast rounded border bg-blue text-white" data-autohide="false">
    <div class="w-100 toast-capper"></div>
    <div class="toast-header bg-blue text-white">
        <!-- Toast Header -->
        <strong class="mr-auto">Error!</strong>
        <button type="button" class="ml-2 mb-1 close text-red" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Toast Message -->
    <div class="toast-body">
        {{ message }}        
    </div>
</div>